:host {
  width: 100%;
}
.library {
  display: flex;

  .books {
    display: flex;
    flex-direction: column;
    width: 70%;
    .books-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .book {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 20px;
        height: 250px;
        align-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        border: 1px solid grey;
        border-radius: 5px;

        .book-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;

          .wrap-image {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            img {
              height: 100%;
              object-fit: contain;
            }
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .library-search {
    width: 15%;
    input,
    label {
      width: 100%;
    }
    .item-serach {
      width: 100%;

    }
    .filter-name {
        color: #150502;
      }
  }
}
